.call-to-action {
    width: 100%;
    background-color: #909090;
    margin-top: 8%;
    margin-bottom: 8%;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1150px;

        .left {
            padding: 25px;

            h2 {
                font-size: 35px;
            }

            button {
                padding: 10px 20px;
                background-color: #515151;
            }
        }

        .right {

            img {
                margin-top: 20px;
                margin-bottom: 20px;
                border-radius: 20px;
                object-fit: cover;
            }
        }

    }

}