---
import "../../components/sectionTwo/callToAction.css";
---

<section class="call-to-action">
    <div class="container">
        <div class="left">
            <h2>Lorem ipsum dolor sit amet.</h2>
            <br/> 
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla
                tempore quibusdam quas aperiam sit autem laboriosam consectetur.
                Iusto, doloribus illo Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Nesciunt, mollitia Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Ex esse necessitatibus facilis
                odio quas voluptatum quasi maxime a architecto optio Lorem ipsum
                dolor sit amet consectetur adipisicing elit. Accusantium,
                distinctio.
            </p>
            <br/> 
            <button> ¡Vamos a crear!</button>
        </div>
        <div class="right">
            <img src="img/prueba.png" alt="" />
        </div>
    </div>
</section>

