---
import "../../components/products/productSelector.css";
---

<section class="products-wrapper">
    <div class="products-gen">
        <div class="title">
            <h1>Options to customize</h1>
        </div>
        <div class="product-selector">
            <div class="product-item"></div>
            <div class="product-item"></div>
            <div class="product-item"></div>
            <div class="product-item"></div>
            <div class="product-item"></div>
            <div class="product-item"></div>
            <div class="product-item"></div>
            <div class="product-item"></div>
        </div>
        <div class="button">
            <button> Go to generate</button>
        </div>
    </div>
</section>
