---
import "../generateProduct/productEditor.css";
---

<section class="editor-wrapper">
    <h1>Create Product</h1>
    <div class="textarea-wrapper">
        <textarea
            name="input-generate"
            placeholder="Enter your text to generate..."></textarea>
        <button id="generative" class="button-to-generate">Generate</button>
        <button id="generative" class="button-to-generate shop-now">Shop Now</button>
    </div>
    <h3>Other products</h3>
    <div class="wrapped-popular-designs">
        <img src="/img/prueba.png" alt="" />
        <img src="/img/prueba.png" alt="" />
        <img src="/img/prueba.png" alt="" />
    </div>
</section>
