---
import "../generateProduct/viewPort.css";
import Visualizer from "../generateProduct/productVisualizer.astro";
import Editor from "../generateProduct/productEditor.astro";
---

<section class="viewPort-wrapper">
    <div class="viewport-gen">
        <div class="left">
            <Visualizer />
        </div>
        <div class="right">
            <Editor />
        </div>
    </div>
</section>
