---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout
	title="AI ecommerce"
	description="generative ecommerce"
	favicon="/favicon.svg"
>
	<main>

	</main>
</Layout>

<style>
	
</style>
