---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/header.astro";
import Slider from "../components/sectionOne/slider.astro";
import CallToaAction from "../components/sectionTwo/callToAction.astro";
import PopularDesigns from "../components/TopDesigns/topSlider.astro";
import Footer from "../components/footer/footer.astro";
---

<Layout
	title="AI ecommerce"
	description="generative ecommerce"
	favicon="/favicon.svg"
>
	<main>
		<Header />
		<Slider />
		<CallToaAction />
		<PopularDesigns />
		<Footer />
	</main>
</Layout>

<style>
	
</style>
