---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/header.astro";
import Form from "../components/form/form.astro";
---

<Layout title="Registro" description="Register here">
    <Header />
    <Form formTitle="Empezar ahora" formButton="Registrarse">
        <!-- Your form content goes here -->
    </Form>
</Layout>
