---
import "../afterRegister/gridPopularProducts.css";
---

<div class="text-grid-wrapper">
    <div class="text">
        <h2>Popular products from the comunity</h2>
    </div>
</div>

<section class="grid-wrapper">
    <div class="grid">
        <div class="one-row">
            <div class="left">
                <img src="" alt="" />
            </div>
            <div class="right">
                <img src="" alt="" />
            </div>
        </div>

        <div class="two-row">
            <div class="left">
                <img src="" alt="" />
            </div>
            <div class="right">
                <div class="top">
                    <img src="" alt="">
                </div>
                <div class="bottom">
                    <img src="" alt="">
                </div>
            </div>
        </div>

        <div class="three-row">
            <div class="left">
                <img src="" alt="" />
            </div>
            <div class="middle">
                <img src="" alt="" />
            </div>
            <div class="right">
                <img src="" alt="" />
            </div>
        </div>

        <div class="four-row">
            <div class="left">
                <img src="" alt="" />
            </div>
            <div class="right">
                <img src="" alt="" />
            </div>
        </div>
    </div>
    <button>
        Load More
    </button>
</section>
