---
import '../../components/footer/footer.css';
---

<footer>
    <div class="footer-wrapped">
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</footer>