---
import "../../components/sectionOne/slider.css";
---

<section>
    <div class="container">
        <div class="top">
            <div class="one">
                <img src="/img/prueba.png" alt="" />
            </div>
            <div class="two">
                <img src="/img/prueba.png" alt="" />
            </div>
            <div class="three">
                <img src="/img/prueba.png" alt="" />
            </div>
        </div>
        <div class="bottom">
            <img src="/img/prueba.png" alt="">
        </div>
    </div>
</section>
